.card {
    height: 18rem;
    width: 19rem;
    background-color: #34373c;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    height: 30%;
    width: 100%;    
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.body {
    height: 70%;
    background-color: #34373c;
    border-radius: 0px 0px 20px 20px;
    padding: 1rem;
    padding-left: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.projectLogoDiv {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    margin-top: 16%;
    margin-left: 1rem;
    z-index: 10;
}

.verified {
    height: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.logo {
    width: 6rem;
}

.heading {
    color: white;
    font-weight: 400;
    margin-top: 1em;
}

.description {
    color: #bab9b9;
    margin-top: 1rem;
}
