.footer {
    padding-top: 1rem;
    display: grid;
    place-items: center;
    // border-top: 1px solid var(--muted-2);
}

.footer__logo {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
    margin: 0 auto;
}
