.screen {
  background-color: #23272a;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  border-bottom: 2px solid #2f3136;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_right {
  display: flex;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin-left: 1rem;
}

.logoDiv {
  width: 8vw;
  padding: 1.3rem;
}

.notif {
  width: 2rem;
  height: 2rem;
  color: white;
}

.sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8vw;
  height: 88vh;
  border-right: 2px solid #2f3136;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin-top: 1rem;
}

.icon {
  margin: 1.5rem;
  width: 2rem;
  height: 2rem;
}

.createButton {
  border-radius: 50%;
  background: linear-gradient(
    101.83deg,
    #4336d8 -68.57%,
    #5549de -9.13%,
    #6e64e0 53.35%,
    #7066e7 123.45%,
    #bbb5f9 207.26%
  );
  margin-bottom: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
