@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

:root {
  --bg: #F9F8FE;
  --text-primary: rgb(15, 15, 15);
  --text-muted: rgb(189, 189, 189);
}

html,
body {
  padding: 0.7rem;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg);
}