.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 999;
  width: 100%;
  margin: 0;
}

.navbar__logo {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
  margin-left: 10px;
}

.navbar__link {
  color: var(--muted);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.main__sub {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__text {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  line-height: 4.3rem;
}

.main__text_Gradient {
  background: linear-gradient(97.4deg, #1aa2ef 1.86%, #4b3ddb 97.6%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__description {
  color: var(--muted);
  font-weight: 600;
  font-size: 1rem;
  max-width: 40rem;
  text-align: center;
}

.main__buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* sm laptop breakpoint */
@media only screen and (max-width: 1024px) {
  .main {
    margin-top: 0;
    width: 90%;

    /* center in middle of page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main__previewWindowContainer {
    display: none;
  }
}

/* tablet breakpoint */
@media only screen and (max-width: 768px) {
  .main__text {
    font-size: 3.3rem;
    line-height: 3.4rem;
  }
}

/* mobile breakpoint */
@media only screen and (max-width: 600px) {
  .main__text {
    font-size: 2.8rem;
    line-height: 2.4rem;
  }
  .main {
    width: 100%;
  }
}
