.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__text {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 4.3rem;
}

.main__text_Gradient {
    background: linear-gradient(97.4deg, #1aa2ef 1.86%, #4b3ddb 97.6%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__description {
    color: var(--muted);
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    max-width: 40rem;
    text-align: center;
    margin-bottom: 2rem;
}

.main__buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project_management_vector {
    width: 40rem;
    height: 40rem;
    object-fit: contain;
}

.sectionOne {
    width: 100%;
    background-color: var(--bg-inverted);
    color: var(--primary-inverted);
    padding: 1rem 0;
    position: relative;
}

.sectionOne__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding-bottom: 5rem;
}

.sectionOne__vector {
    height: 30rem;
    width: 30rem;
}

.sectionOne__content {
    display: flex;
    flex-direction: column;
}

.sectionOne__preHeading {
    font-weight: 900;
    color: var(--muted-3);
    letter-spacing: 1px;
    margin: 0;
}

.sectionOne__heading {
    font-weight: 700;
    font-size: 3rem;
}

.sectionOne__description {
    font-size: 1.3rem;
    max-width: 30rem;
    line-height: 2rem;
    color: var(--muted-4);
    font-weight: 300;
}

.sectionOne__featureContainer {
    width: 65rem;
    height: 13rem;
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    margin: auto;

    background-color: var(--bg);
    color: var(--primary);

    border-radius: 1rem;
    padding: 2rem;

    box-shadow: 0px 4px 60px 0px #87858540;

    display: flex;
    gap: 1rem;

    z-index: 800;
}

.sectionOne__feature {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.sectionOne__feature h3 {
    font-weight: 900;
    color: var(--muted-3);
}

.sectionOne__feature p {
    font-weight: 500;
    color: var(--muted-3);
    font-size: 1.1rem;
}

.sectionOne__featureSeperator {
    height: calc(100% - 4rem);
    border-right: 1px solid var(--muted-2);
    margin: auto 0;
}

.sectionTwo {
    width: 100%;
    color: var(--primary);
    padding: 1rem 0;
    position: relative;
    background: linear-gradient(#f5f9ff, #ecf5ff);
    padding-top: 7rem;
}

.sectionTwo__segment {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.sectionTwo__segment_preHeading {
    font-weight: 900;
    color: var(--muted-3);
    margin: 0;

    letter-spacing: 1px;
}

.sectionTwo__segment_heading {
    font-weight: 700;
}

.sectionTwo__segment_description {
    font-size: 1.2rem;
    max-width: 30rem;
    line-height: 1.6rem;
    color: var(--muted-3);
    font-weight: 400;
    margin-top: 1rem;
}

.sectionTwo__segment_vector {
    height: 30rem;
    width: 30rem;
}

.sectionTwo__segment_seperator {
    width: calc(100% - 30rem);
    border-bottom: 1px solid var(--muted-2);
    margin: 0 auto;
}

/* edgecase breakpoint for repsonsive */
@media only screen and (max-width: 1250px) {
    .sectionTwo__segment {
        margin-left: 2rem;
    }

    // .sectionTwo__segment_vector {
    //     height: 15rem;
    //     width: 15rem;
    //     margin-right: 2rem;
    // }

    .sectionOne__featureContainer {
        position: absolute;
        margin-left: 1rem;
        margin-right: 1rem;
        width: auto;
        height: auto;
        bottom: -25%;
    }

    .sectionTwo {
        margin-top: 25%;
    }
}

/* making the project management illustration and feature box fit */
@media only screen and (max-width: 1100px) {
    .project_management_vector {
        width: 26rem;
        height: 26rem;
    }

    .sectionOne__featureContainer {
        bottom: -40%;
    }

    .sectionOne__main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* tablet breakpoint */
@media only screen and (max-width: 768px) {
    .main__text {
        font-size: 3.3rem;
        line-height: 3.4rem;
    }

    .project_management_vector {
        display: none;
    }

    .sectionTwo__segment_vector {
        height: 14rem;
        width: 14rem;
    }

    .sectionOne__featureContainer {
        bottom: -50%;
    }

    .sectionOne__main {
        padding-top: 2rem;
    }
}

/* mobile breakpoint */
@media only screen and (max-width: 600px) {
    .main__text {
        font-size: 2.6rem;
        line-height: 2.7rem;
    }
    .main {
        width: 100%;
    }

    //Previously there was a lottie. Now there isn't
    // .lottie {
    //     display: none;
    // }

    .sectionOne {
        width: auto;
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0;
    }

    .sectionOne__main {
        padding-bottom: 2rem;
    }

    .sectionOne__preHeading {
        line-height: 1.5rem;
    }

    .sectionOne__heading {
        padding-bottom: 1rem;
    }

    .sectionOne__description {
        line-height: 1.7rem;
    }

    .sectionOne__featureContainer {
        position: static;
        flex-direction: column;
        border-radius: 0%;
        width: auto;

        background-color: #ecebf1;
    }

    .sectionOne__feature {
        width: auto;
    }

    .sectionOne__featureSeperator {
        height: 0px;
        width: calc(100% - 4rem);
        border-bottom: 1px solid #1aa2ef;
    }

    .sectionTwo {
        padding-top: 2rem;
        margin-top: 0;
        padding-left: 2rem;
        width: auto;
        padding-bottom: 0%;
    }

    .sectionTwo__segment_vector {
        display: none;
    }

    .sectionTwo__segment_heading {
        margin-bottom: 1rem;
    }

    .sectionTwo__segment {
        margin-bottom: 2rem;
    }
}

/* ultra small mobile breakpoint */
@media only screen and (max-width: 300px) {
    .sectionTwo {
        margin-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
        padding-bottom: 0%;
    }

    .sectionOne__featureContainer {
        margin-left: 0;
        margin-right: 0;
    }

    .sectionOne {
        padding-left: 0;
        padding-right: 0;
    }
}
