.container {
    margin-top: 3rem;
}

.heading {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

.description {
    font-size: 1.2rem;
    color: var(--muted-3);
    text-align: center;
}

.connectCard {
    transform: rotate(1deg);
    background: #5d5fe31a;
    padding: 2rem;
    width: 50rem;
    border-radius: 20px;
    margin: 2rem auto;

    display: flex;
    gap: 1rem;
}

.waitlistCard {
    transform: rotate(-1deg);
    width: 50%;
    height: 27rem;
    background: #fff;
    box-shadow: 0px 4px 60px rgba(137, 137, 137, 0.25);
    border-radius: 10px;
}

.waitlistCard__sub {
    width: 100%;
    padding: 1rem;
}

.waitlistCard h3 {
    font-weight: 800;
    font-size: 1.9rem;
}

.waitlistCard p {
    width: 90%;
    font-size: 1rem;
    color: var(--muted-3);
}

.waitlistCard__vector {
    width: 100%;
    height: 10rem;
}
.waitlistCard__textbox {
    background-color: var(--muted-4);
    padding: 1rem;
    border-radius: 7px;
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.waitlistCard__textbox img {
    height: 1rem;
    width: 1rem;
    margin-right: 10px;
}

.waitlistCard__textbox input {
    background: transparent;
    outline: none;
    border: none;
}

.waitlistCard__textbox input::placeholder {
    color: var(--primary);
    font-weight: 700;
}

.waitlistCard__submit {
    position: absolute;
    right: 10px;
    top: 0.7rem;
    cursor: pointer !important;

    outline: none;
    border: none;
    background-color: var(--accent);
    color: var(--accent-inverted);

    font-weight: 600;
    padding: 7px 10px;
    border-radius: 5px;
}

.waitlistCard__subText {
    color: var(--muted-3);
    font-size: 0.8rem;
}

.socialCardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 27rem;
    width: 48%;
}

.socialCard {
    transform: rotate(-1deg);
    width: 90%;
    height: calc(27rem / 2);

    background: #fff;
    box-shadow: 0px 4px 60px rgba(137, 137, 137, 0.25);
    border-radius: 10px;
    padding: 1rem;

    display: flex;
    gap: 2rem;
}

.socialCard h3 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

.socialCard p {
    margin-bottom: 1rem;
    color: var(--muted-3);
}

.socialCard__button {
    background-color: var(--muted-4);
    border-radius: 0.5rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--muted-4-inverted);
    font-weight: 700;
    display: inline-block;
}

@media only screen and (max-width: 890px) {
    .connectCard {
        width: auto;
        flex-direction: column;
    }

    .waitlistCard,
    .socialCardContainer {
        width: 100%;
    }

    .socialCard {
        width: 95%;
    }
}
@media only screen and (max-width: 500px) {
    .heading {
        font-size: 2.3rem;
    }
}
