.login_box{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    margin-top: 10vh;
    margin-right: 1rem;
    margin-left: 1rem;  
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.box_center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.p_margin{
    margin-bottom:1rem;
}

.logo {
    width: 10rem;
}

.button_center{
    display: flex;
    justify-content: center;
}

