.navbar {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(217, 217, 217, 0.25);
}

.navbar_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_icon {
    margin: 0.5rem;
}

.down_arrow {
    margin-right: 2rem;
    width: 1rem;
}

.avatar {
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}

.nav_group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
    gap: 0.2rem;
}

.logo {
    width: 5rem;
}
